<p>Batches are an additional way to organize users. This can allow you to teach multiple classes from the same project, so that you can have the project content all in one place. Below you can move a user to a different batch, or add/remove batch enrollments. Users must be in at least one batch at all times.</p>

<input id="section_input" name="sections" data-finder_url="{{sectionsUrl}}" type="text" style="display:none;">

<ul id="user_sections"></ul>
