<div class="avatar-nav">
  <ul class="nav nav-pills">
    {{#if hasGetUserMedia}}
      <li>
        <a href="#take-picture">{{#t "take_a_picture"}}Take a Picture{{/t}}</a>
      </li>
    {{/if}}
  </ul>
</div>

<div class="avatar-content">
  <div id="take-picture" class="text-center active"></div>
</div>