<div id="add_candidates_list" style="width:85%;margin:0 auto;">

<TABLE id="candidate_list" style="width:70%;margin:0 auto;">
<tr><td></td><td>Candidate Name</td><td>Candidate Email</td></tr>
</TABLE>
</div>