<div id="add_candidates_list" style="width:90%;margin:0 auto;">

    <!--<br/>-->

    <!--Select Batch <select name="enrollment_batch" data-view="batchSelect"></select>-->
    <!--<TABLE class="candidate_list_items table table-hover table-striped table-condensed table-vertically-center" id="candidate_list" style="width:50%;margin:0 auto;">-->
    <table data-provide="pagination" data-pager="#pager" id="results" class="candidate_list_items table table-hover table-striped table-condensed table-vertically-center" align="center">
        <thead>
        <tr>
            <th>Select</th>
            <th>Candidate Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </TABLE>
    <div class="paginatedLoadingIndicator" style="display: none"></div>
</div>