<td><INPUT type="checkbox" name="chkbox[]" checked="checked"/></td>
<td> <INPUT type="text" name="candidatename" placeholder="Candidate Name" value="{{name}}"/></td>
<td> <INPUT type="text" name="candidateemail" placeholder="Candidate Email" value="{{email}}" /> </td>
