<div id="add_candidates_list" style="width:85%;margin:0 auto;">

<TABLE class="candidate_list_items table table-hover table-striped table-condensed table-vertically-center" id="candidate_list" style="width:70%;margin:0 auto;">
 <tr><td></td><td>Candidate Name</td><td>Email</td><tr>
<tbody>

</tbody>
</TABLE>
</div>