<h1>
    Candidate List
</h1>
<TABLE id="dataTable">
    <TR>
        <TD><INPUT type="checkbox" name="selectall" id="selectall"/></TD>
        <TD> Candidate Name </TD>
        <TD> Candidate Email </TD>
    </TR>
    <TR>
        <TD><INPUT type="checkbox" name="chkbox[]"/></TD>
        <TD> <INPUT type="text" name="candidatename" placeholder="Candidate Name" /> </TD>
        <TD> <INPUT type="text" name="candidateemail" placeholder="Candidate Email" /> </TD>
    </TR>
</TABLE>
<INPUT type="button" value="Add Candidate" id="addrow" />

<INPUT type="button" value="Remove Selected" id="deleterow" />
