<div style="width:85%;margin:0 auto;">
<h1>
    Candidate List
</h1>
    <div style="width:70%;margin:0 auto;">
        <INPUT type="checkbox" name="selectall" id="select_all"/>Select All
    </div>

<TABLE id="dataTable" style="width:70%;margin:0 auto;">
    <TR>
        <TD><INPUT type="checkbox" name="chkbox[]" checked="checked"/></TD>
        <TD> <INPUT type="text" name="candidatename" placeholder="Candidate Name" /> </TD>
        <TD> <INPUT type="text" name="candidateemail" placeholder="Candidate Email" /> </TD>
    </TR>
</TABLE>
<div style="width:70%;margin:20px auto 0px;">
<INPUT type="button" value="Add Candidate" id="add_row" class="btn btn-primary btn-mini"/>
<INPUT type="button" value="Add Candidates from Project" id="add_candidates" class="btn btn-primary btn-mini"/>
<INPUT type="button" value="Remove Selected" id="delete_row" class="btn btn-danger btn-mini"/>
</div>
    <div style="width:70%;margin:0 auto;">
        <INPUT type="checkbox" name="selectall" id="enable_proctoring"/>Enable proctoring
    </div>
    <div style="width:70%;margin:0 auto;">
        <INPUT type="checkbox" name="selectall" id="enable_secure_browser"/>Enable Secure Browser
    </div>
    <div style="width:70%;margin:0 auto;">
        <INPUT type="button" value="Send invitations" id="send_invitations" class="btn btn-sucess"/>
    </div>

</div>
<div id="render_popup">

</div>