<tr>
<td><INPUT type="text" name="degree[]" class="check-id" data-pseudonymId=""/></td>
<td><INPUT type="text" name="college[]" class="check-id" data-pseudonymId=""/></td>
<td class="email"><INPUT type="text" name="year[]" class="check-id" data-pseudonymId=""/></td>
</tr>
