<div class="index_view">
    <div class="index_view_personel">
        <table class="table-personal-view">
                <tr><td>First Name*</td><td><input type="text" name="first_name" id="txtItemCode"></td><td>Middle Name</td><td><input type="text" name="middle_name" id="txtItemCode"></td><td>Last Name</td><td><input type="text" name="last_name" id="txtItemCode"></td></tr>
                <tr><td>Date Of Birth*</td><td><input type="text" name="dob" id="txtItemCode"></td><td>Contact Number</td><td><input type="text" name="contact_number" id="txtItemCode"></td><td></td><td></td></tr>
                <tr><td>E-mail Id*</td>
                  <td><input type="text" name="email_id" id="txtItemCode"></td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Address</td>
                  <td><input type="text" name="address" id="txtItemCode"></td><td></td><td></td><td></td><td></td></tr>
        </table>
    </div>
    <div data-view="academicView_list" id="academicView"></div>
    <div class="index_view_academics">
    <div class="profile_links">
                <h2 class="h1 border border-b">Academic Qualifications</h2>
                <div class="show-if-editing">
                  <table id="edit_links_table" class="edit_links_table">
                    <thead>
                    <th>Degree</th>
                    <th>Discipline</th>
                    <th>School/ College</th>
                    <th>Year of Completion</th>
                    <th>%/ CGPA</th>
                    <th></th>
                    </thead>
                    <tbody id="qual_fields"></tbody>
                  </table>
                  <button data-event="addQualField" class="btn btn-small" id="add_academics">Add another Qualification</button>
                </div>

              </div>
    </div>
    <div class="index_view_experience">
    <div class="profile_links">
          <h2 class="h1 border border-b">Employment (Please mention in chronological order)</h2>
          <div class="show-if-editing">
            <table id="edit_links_table">
              <thead>
              <th>Organization</th>
              <th>From(MM/YYYY)</th>
              <th>To(MM/YYYY)</th>
              <th>Designation</th>
              <th>Permanent/ contract</th>
              <th>Reason for leaving</th>
              <th></th>
              </thead>
              <tbody id="work_fields"></tbody>
            </table>
            <button data-event="addWorkField" class="btn btn-small">Add another Experience</button>
          </div>

        </div>

    </div>
    <table>
            </tr>
            <tr><td></td><td><button name="submit" class="btn btn-large btn-primary" id="register_submit">Submit </button>
            </td></tr>
          </table>
</div>