<table class="table-personal-view">
        <tr><td>First Name*</td><td><input type="text" name="first_name"></td><td>Middle Name</td><td><input type="text" name="middle_name"></td><td>Last Name</td><td><input type="text" name="last_name"></td></tr>
        <tr><td>Date Of Birth*</td><td><input type="text" name="dob"></td><td>Contact Number</td><td><input type="text" name="contact_number"></td><td></td><td></td></tr>
        <tr><td>E-mail Id*</td>
          <td><input type="text" name="email_id"></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>Address</td>
          <td><input type="text" name="address"></td><td></td><td></td><td></td><td></td></tr>
</table>