<% 
  enrollment = pending_enrollment 
   title_message = t :student_title, "Invited as a candidate, click to see the Project"
  case enrollment.type
  when 'TeacherEnrollment'
    title_message = t :teacher_title, "Invited as a hiring manager, click to see the Project"
  when 'TaEnrollment'
    title_message = t :ta_title, "Invited as a interviewer, click to see the Project"
  when 'ObserverEnrollment'
    title_message = t :observer_title, "Invited as an HR, click to see the Project"
  when 'DesignerEnrollment'
    title_message = t :designer_title, "Invited as a designer, click to see the Project"
  end

%>
<li><a href="<%= course_url(enrollment.course, :invitation => enrollment.uuid) %>" title="<%= title_message %>" class="<%= enrollment.type.to_s.underscore %>">
<%=
  case enrollment.type
  when 'TeacherEnrollment'
    t :teacher, "%{course} as a hiring manager.", :course => enrollment.course.name
  when 'TaEnrollment'
    t :ta, "%{course} as a interviewer.", :course => enrollment.course.name
  when 'ObserverEnrollment'
    t :observer, "%{course} as an HR.", :course => enrollment.course.name
  when 'DesignerEnrollment'
    t :designer, "%{course} as a designer.", :course => enrollment.course.name
  else
    t :student, "%{course} as a candidate.", :course => enrollment.course.name
  end
%>
</a></li>
