<fieldset>
  <div class="control-group">
    <tr><td>
      <label for="question_tag" class="control-label"> Add Tags:</label></td>
      <div class="controls">
        <td><input type="text"
                   class="token_input"
                   id="question_tag_tokens"
                   name="tag_tokens"
                   data-pre=></td>

      </div>
    </tr>
  </div>

</fieldset>