<%= image_tag "arrivu_logo.png" %><br><br><br>
<div style="width: 50%;margin: 0px auto;">
<label>Enter Code:</label><input type="text"> <br><br>
<button type="submit" class="btn btn-success">Proceed</button>
</div>