<%
   jammit_css :profile_show, :tinymce
   js_bundle :profile_show
   @body_classes << "gradebook2 full-width" %>
<%  @show_left_side = false
    @headers = false
%>

<div style="height: 100%;width: 100%;border: 0 none;">
<iframe src="<%= course_quizzes_path(@course_id) %>"  frameborder="0" style="height: 100%;width: 100%;border: 0 none;"    ></iframe>
</div>