<a class="al-trigger" href="#" data-append-to-body="true">
  <span class="current-label">Project average</span>
  <i class="icon-mini-arrow-down"></i>
</a>

<ul class="al-options">
  <li><a href="#" data-method="average">Project average</a></li>
  <li><a href="#" data-method="median">Project median</a></li>
  <li><a href="#" data-method="mode">Project mode</a></li>
</ul>
