<td><INPUT type="checkbox" name="chkbox[]" {{#unless email_send}}checked="checked"{{/unless}} class="check-id" data-pseudonymId="{{id}}"/></td>
<td {{#if email_send}}style="color:#bbbbbb;"{{/if}}>{{name}}</td>
<td class="email" {{#if email_send}}style="color:#bbbbbb;"{{/if}}>{{login_id}}</td>
